body{
    background-image: url("kozmetika.jpg");
    color: rgb(255, 255, 255);
}

.cim{
    text-align: center;
    background-color: rgba(184, 50, 162, 0.459);
}

.topnav {
    background-color:  rgba(145, 90, 128, 0.76);
    overflow: hidden;
}
  
  .topnav a {
    float: left;
    color: rgba(253, 253, 253, 0.76);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(252, 252, 252);
}
  
  .topnav a.active {
    background-color: rgba(255, 255, 255, 0.76);
    color: rgba(145, 90, 128, 0.76);
}

h2{
  text-align: center;
  color: rgb(0, 162, 255);
}

h1{
  text-align: center;
  color: rgb(0, 162, 255);
}

p{
  text-align: center;
  color: rgb(0, 162, 255);
}

#mukorom {
  text-align: center;
  width: 10%;
  height: 10%;
}

di{
  tvext-align: center;
}
